/* CSS */
@supports (font-variation-settings: normal) {
  .banner-container > *  { font-family: InterVariable, sans-serif; }
}

.hidden {
  display: none;
}

.banner- {
  container-name: banner;
  container-type: inline-size;
}

.banner-, .banner-container > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  -webkit-font-smoothing: antialiased;
}

.banner-container {
  position: relative;
  height: 18.75rem;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.banner-image-background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-glass-effect {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6rem);
}

.banner-wrapper {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: column dense;
  justify-content: space-between;
  color: white;
}

.banner-wrapper:has(.banner-image.hidden) {
  grid-gap: 0;
}

.banner-container:has(.banner-image.hidden) {
  background: #0f47ad;
}

.banner-container:has(.banner-image.hidden) .banner-glass-effect {
  backdrop-filter: none;
}

.banner-wrapper:has(.banner-image.hidden) .banner-content {
  justify-items: center;
  text-align: center;
}

.banner-wrapper:has(.banner-image.hidden) .banner-top {
  text-align: center;
}

.banner-wrapper:has(.banner-image.hidden) .banner-image-container {
  display: none;
}

.banner-content {
  display: grid; 
}

.banner-top {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.infotep_logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-right: 0.75rem;

    background: white url("https://raw.githubusercontent.com/cristiannunez-edu/cursos-virtuales/main/images/_infotep-virtual.png") no-repeat center;
    background-size: 70%;
}

.banner-welcome {
  opacity: 90%;
}

/* Course name */
.banner-course-name {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.banner-course-shortname {
  font-size: 1rem;
  opacity: 70%;
}

.banner-image-container {
  overflow: hidden;
}

.banner-image {
  border-radius: .75rem;
  height: 100%;
  width: 100%;
  min-width: 20rem;
  object-fit: cover;
  object-position: center;
}

.banner-course-dates {
  text-align: center;
}

@container banner (max-width: 1024px) {
  
  .banner-container {
    grid-template-rows: 1fr;
  }
  
  .banner-wrapper:not(:has(.banner-image.hidden)) {
    grid-template-columns: 1fr;
  }
  
  .banner-wrapper:not(:has(.banner-image.hidden)) .banner-content {
    justify-items: center;
    text-align: center;
  }
  
  .banner-wrapper:not(:has(.banner-image.hidden)) .banner-image-container {
    display: none;
  }
  
}

@container banner (min-width: 1440px) {
  .banner-wrapper {
    justify-content: center;
  }

}

/*Hide editar*/
#section-0 .section_action_menu, 
#section-0 a[href*="editsection"] {
  display: none!important;
}